<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title || post.title }} - Daniel Tomlinson</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!-- TradeDoubler site verification 2369198 -->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <link href="https://twitter.com/dantoml" rel="me">
        <script type="text/javascript" src="//use.typekit.net/bur1byt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta property="og:image" content="http://gravatar.com/avatar/fe1614198a51ce64d173299244557a71?s=50">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:type" content="blog">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
        <meta name="twitter:image" content="http://gravatar.com/avatar/fe1614198a51ce64d173299244557a71?s=120">
        <meta name="twitter:site" content="@DanToml">
        <meta name="twitter:creator" content="@DanToml">
        <meta name="twitter:domain" content="{{ site.url }}">
</head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="pagewrap">
        <div class="wrapper">
        
        <header class="page-head">
            
            <a href="/" title="Return to homepage" class="name">
               <h1>Daniel Tomlinson</h1>
            </a>
            
            <ul class="nav">
                <li class=""><a href="/">Blog</a></li>
                <li class=""><a href="/contact/">Contact</a></li>
            </ul>
            
        </header>
        </div>
        {% if page.pretext != false %}
        {% endif %}
        <div class="wrapper">
