
$heading-font-stack: "proxima-nova", "Source Sans Pro", "Helvetica", sans-serif;
$font-stack: "adelle", serif;

$background-color: #FFFFFF;
$heading-font-color: #000000;
$body-font-color: rgb(61, 61, 61);
$accent-color: #0595fa;

$base-font-size: 16pt;
$base-line-height: 19pt;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

@mixin animate($property, $duration) {
    -webkit-transition: $property $duration ease-in-out;
       -moz-transition: $property $duration ease-in-out;
        -ms-transition: $property $duration ease-in-out;
         -o-transition: $property $duration ease-in-out;
            transition: $property $duration ease-in-out;
    
    
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


// BEGIN SCSS


body {
    font-family: $font-stack;
    color: $body-font-color;
    font-size: $base-font-size;
    line-height: $base-line-height * 1.2;
    text-align: justify;
    text-align-last: left;
}

h1 {
    font-family: $heading-font-stack;
    font-size: $base-font-size * 1.7;
    line-height: $base-line-height * 1.7;
    color: $heading-font-color;
    margin-bottom: $base-line-height;
    text-decoration: underline;
}

h2 {
    font-family: $heading-font-stack;
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height * 1.5;
    color: $heading-font-color;
    margin-bottom: $base-line-height;
    text-decoration: underline;
}

h3 {
    font-family: $heading-font-stack;
    font-size: $base-font-size * 1.3;
    line-height: $base-line-height * 1.3;
    color: $heading-font-color;
    margin-bottom: $base-line-height;
    text-decoration: underline;
}

h4 {
    font-family: $heading-font-stack;
    font-size: $base-font-size * 1.1;
    line-height: $base-line-height * 1.1;
    color: $heading-font-color;
    margin-bottom: $base-line-height;
    text-decoration: underline;
}

a {
    color: $body-font-color;
    @include animate(color, .25s);
}

a:hover {
    color: $accent-color;
}

header {
    margin-top: 30px;
    margin-bottom: 50px;
}

header .name, header h1 {
    text-align: center;
    text-decoration: none;
    font-size: $base-font-size * 2.5;
    line-height: $base-line-height * 2.5;
    font-family: "adelle", serif;

    @include animate(color, .25s);
}

header .name:hover, header h1:hover {
    color: $accent-color;
    
}

.nav {
    margin-top: 20px;
    list-style: none;
    text-align: center;
}

.nav li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.nav li a {
    text-decoration: none;
    font-family: "ff-tisa-web-pro", "adelle", serif;
    color: $heading-font-color;

    @include animate(color, .25s);
}

.nav li a:hover {
    color: $accent-color;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.posts {

}

.posts li {
    margin-bottom: 20px;
    text-align: left;
}

.posts li a {
    text-decoration: none;
    font-family: $heading-font-stack;
    color: $heading-font-color;
    font-size: $base-font-size * 1.1;
    @include animate(color, .25s);
}

.posts li a:hover {
    color: $accent-color;
}

.posts li span {
    font-size: $base-font-size * 0.7;
    line-height: $base-font-size * 0.7;
    color: lighten($body-font-color, 50%);
}

.posts li p {
    text-align: justify;
    text-align-last: justify;
}

.profile {
    width: 200px;
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

footer {
    font-size: $base-font-size * 0.6;
    line-height: $base-line-height * 0.9;
    margin-bottom: 15px;
}

footer a {
    color: $body-font-color;
}

p {
    margin-bottom: $base-line-height * 1.2;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

@media screen and (max-width: 850px) {
    body {
        padding: 30px;
    }
}

pre {

}

pre code {
    color: #FFFFFF;
    background-color: #333;
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-right: -8px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

pre code, .highlight pre code span{
    font-family: "Menlo";
    font-size: 12px;
    // color: white;
}

.gist {
    font-size: 12px;
}


.c { color: #999999; font-style: italic } /* Comment */
.err { color: #d0d0d0 } /* Error */
.g { color: #d0d0d0 } /* Generic */
.k { color: #6ab825 } /* Keyword */
.l { color: #d0d0d0 } /* Literal */
.n { color: #d0d0d0 } /* Name */
.o { color: #d0d0d0 } /* Operator */
.x { color: #d0d0d0 } /* Other */
.p { color: #c52115 !important } /* Punctuation */
.cm { color: #999999; font-style: italic } /* Comment.Multiline */
.cp { color: #cd2828; } /* Comment.Preproc */
.c1 { color: #999999; font-style: italic } /* Comment.Single */
.cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.gd { color: #d22323 } /* Generic.Deleted */
.ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.gr { color: #d22323 } /* Generic.Error */
.gh { color: #ffffff } /* Generic.Heading */
.gi { color: #589819 } /* Generic.Inserted */
.go { color: #cccccc } /* Generic.Output */
.gp { color: #aaaaaa } /* Generic.Prompt */
.gs { color: #d0d0d0 } /* Generic.Strong */
.gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.gt { color: #d22323 } /* Generic.Traceback */
.kc { color: #6ab825 } /* Keyword.Constant */
.kd { color: #6ab825 } /* Keyword.Declaration */
.kn { color: #6ab825 } /* Keyword.Namespace */
.kp { color: #6ab825 } /* Keyword.Pseudo */
.kr { color: #6ab825 } /* Keyword.Reserved */
.kt { color: #6ab825 } /* Keyword.Type */
.ld { color: #d0d0d0 } /* Literal.Date */
.m { color: #3677a9 } /* Literal.Number */
.s { color: #ed9d13 } /* Literal.String */
.na { color: #bbbbbb } /* Name.Attribute */
.nb { color: #24909d } /* Name.Builtin */
.nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.no { color: #40ffff } /* Name.Constant */
.nd { color: #ffa500 } /* Name.Decorator */
.ni { color: #d0d0d0 } /* Name.Entity */
.ne { color: #bbbbbb } /* Name.Exception */
.nf { color: #447fcf } /* Name.Function */
.nl { color: #d0d0d0 } /* Name.Label */
.nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.nx { color: #d0d0d0 } /* Name.Other */
.py { color: #d0d0d0 } /* Name.Property */
.nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.nv { color: #40ffff } /* Name.Variable */
.ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.w { color: #666666 } /* Text.Whitespace */
.mf { color: #3677a9 } /* Literal.Number.Float */
.mh { color: #3677a9 } /* Literal.Number.Hex */
.mi { color: #3677a9 } /* Literal.Number.Integer */
.mo { color: #3677a9 } /* Literal.Number.Oct */
.sb { color: #ed9d13 } /* Literal.String.Backtick */
.sc { color: #ed9d13 } /* Literal.String.Char */
.sd { color: #ed9d13 } /* Literal.String.Doc */
.s2 { color: #ed9d13 } /* Literal.String.Double */
.se { color: #ed9d13 } /* Literal.String.Escape */
.sh { color: #ed9d13 } /* Literal.String.Heredoc */
.si { color: #ed9d13 } /* Literal.String.Interpol */
.sx { color: #ffa500 } /* Literal.String.Other */
.sr { color: #ed9d13 } /* Literal.String.Regex */
.s1 { color: #ed9d13 } /* Literal.String.Single */
.ss { color: #ed9d13 } /* Literal.String.Symbol */
.bp { color: #24909d } /* Name.Builtin.Pseudo */
.vc { color: #40ffff } /* Name.Variable.Class */
.vg { color: #40ffff } /* Name.Variable.Global */
.vi { color: #40ffff } /* Name.Variable.Instance */
.il { color: #3677a9 } /* Literal.Number.Integer.Long */