---
title: Danielle Tomlinson
---
<section class="home">


  <p><b>Hallo, ich heiße Danielle.</b> Ich bin eine Computer-Hexe.</p>

  <p>I build developer tools at <a href="https://circleci.com">CircleCI</a>, and am a core team member at <a href="https://CocoaPods.org">CocoaPods</a>. I'm also an amateur <a href="https://500px.com/dantoml">photographer</a>, <a href="https://speakerdeck.com/dantoml">speaker</a>, and <a href="http://whereis.dantoml.com">traveller</a>. I'm also trying to <a href="http://splinched.com">write</a> about my travels.</p>

  <h2>Open Source</h2>

  <p>I often contribute to open source projects for fun, work, and to help out the community. Some of my projects can be seen below.</p>

  <ul>
    <% projects().each do |project| %>
      <li><a href="<%= project['link'] %>"><%= project['name'] %></a>: <%= project['description'] %></li>
    <% end %>
  </ul>

  <a href="https://github.com/dantoml">More</a>

  <h2>Consulting</h2>

  <p>I have 8 years of experience in development of Cocoa(Touch) applications with much of that time being spent on SDKs, networking, and persistence.</p>

  <p>I also have 5 years experience with helping client teams to improve their continous integration, testing (XCTest, KIF, Specta, Quick), deployment (TestFlight, HockeyApp, Crashlytics), and build systems (Mostly Xcode, and Make).</p>

  <p>I have 20 hours a month available for consulting work that can generally be booked in 5 hour blocks. If you would like to talk about a project, email me <a href="mailto:dan@tomlinson.io">dan@tomlinson.io</a>.</p>

  <ul>
    <li>- September 2016: Reserved for CocoaPods</li>
    <li>- October 2016: Available</li>
    <li>- November 2016: Available</li>
    <li>- December 2016: Booked</li>
    <li>- January 2017: Available</li>
    <li>- February 2017: Available</li>
  </ul>

  <h2>Find Me!</h2>

  <ul>
    <li>- Twitter: <a href="https://twitter.com/dantoml">@dantoml</a></li>
    <li>- <a href="https://speakerdeck.com/dantoml">Speakerdeck</a> (I often forget to upload slides, if any are missing, send me a tweet)</li>
    <li>- <a href="https://500px.com/dantoml">500px</a></li>
    <li>- <a href="https://github.com/dantoml">GitHub</a></li>
  </ul>
<br />
<br />
<br />
